{{- $formURL := "https://b678e710.sibforms.com/serve/MUIFAHQl1n1AB8LkwmautCLnQaxzwRb-yP-fIrVWhiH7H1b1NoTycz52yOvfCN31Oyk1KpQDqKAz6v1vo_FvCAeH5jFygdGfVf-n2LOowx1r7elvPNx7sGUylFHJaRwKs1LLuZHXYUK1PbW5QBt3SA57prt9IzPcZ5nPzFsHlVcH_NeuKJFf0TlpQipuHFPgtZz-o0ygLW5BHtij" -}}
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<style>
  .qfield-newsletter-form {
    max-width: 540px;
    margin: 0 auto;
  }

  .qfield-newsletter-form .sib-form {
    background: transparent;
    padding: 0;
  }

  .qfield-newsletter-form .sib-form-message-panel {
    display: none;
  }
</style>

<div class="qfield-newsletter-form">
  <div class="sib-form">
    <div id="sib-form-container" class="sib-form-container">
      <div id="error-message" class="sib-form-message-panel" style="display:none;font-size:16px;text-align:left;font-family:Helvetica,sans-serif;color:#661d1d;background-color:#ffeded;border-radius:3px;border-color:#ff4949;max-width:540px;">
        <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
          <span class="sib-form-message-panel__inner-text">Your subscription could not be saved. Please try again.</span>
        </div>
      </div>

      <div id="success-message" class="sib-form-message-panel" style="display:none;font-size:16px;text-align:left;font-family:Helvetica,sans-serif;color:#085229;background-color:#e7faf0;border-radius:3px;border-color:#13ce66;max-width:540px;">
        <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
          <span class="sib-form-message-panel__inner-text">Your subscription has been successful.</span>
        </div>
      </div>

      <div id="sib-container" class="sib-container--large sib-container--horizontal" style="text-align:center;background-color:transparent;max-width:540px;border-radius:3px;border-width:0;border-color:#C0CCD9;border-style:solid;direction:ltr">
        <form id="sib-form" method="POST" action="{{ $formURL }}" data-type="subscription">
          <div style="padding:8px 0;">
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form__label-row form__label-row--horizontal">
                  <div class="entry__field">
                    <input class="input" type="email" id="EMAIL" name="EMAIL" autocomplete="email" placeholder="EMAIL" data-required="true" required>
                  </div>
                </div>
                <label class="entry__error entry__error--primary" style="font-size:16px;text-align:left;font-family:Helvetica,sans-serif;color:#661d1d;background-color:#ffeded;border-radius:3px;border-color:#ff4949;"></label>
              </div>
            </div>
          </div>

          <div style="padding:8px 0;">
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form__label-row form__label-row--horizontal">
                  <div class="entry__field">
                    <input class="input" maxlength="200" type="text" id="FIRSTNAME" name="FIRSTNAME" autocomplete="given-name" placeholder="FIRSTNAME" data-required="true" required>
                  </div>
                </div>
                <label class="entry__error entry__error--primary" style="font-size:16px;text-align:left;font-family:Helvetica,sans-serif;color:#661d1d;background-color:#ffeded;border-radius:3px;border-color:#ff4949;"></label>
              </div>
            </div>
          </div>

          <div style="padding:8px 0;">
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form__label-row form__label-row--horizontal">
                  <div class="entry__field">
                    <input class="input" maxlength="200" type="text" id="LASTNAME" name="LASTNAME" autocomplete="family-name" placeholder="LASTNAME" data-required="true" required>
                  </div>
                </div>
                <label class="entry__error entry__error--primary" style="font-size:16px;text-align:left;font-family:Helvetica,sans-serif;color:#661d1d;background-color:#ffeded;border-radius:3px;border-color:#ff4949;"></label>
              </div>
            </div>
          </div>

          <div style="padding:8px 0;">
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form__label-row form__label-row--horizontal">
                  <div class="entry__field">
                    <input class="input" maxlength="2" type="text" id="COUNTRY_CODE" name="COUNTRY_CODE" autocomplete="country" placeholder="2 letter country code" data-required="true" required>
                  </div>
                </div>
                <label class="entry__error entry__error--primary" style="font-size:16px;text-align:left;font-family:Helvetica,sans-serif;color:#661d1d;background-color:#ffeded;border-radius:3px;border-color:#ff4949;"></label>
              </div>
            </div>
          </div>

          <div style="padding:8px 0;">
            <div class="sib-optin sib-form-block">
              <div class="form__entry entry_mcq">
                <div class="form__label-row form__label-row--horizontal">
                  <div class="entry__choice">
                    <label>
                      <input type="checkbox" class="input_replaced" value="1" id="VERIFIED" name="VERIFIED">
                      <span class="checkbox checkbox_tick_positive"></span>
                      <span style="font-size:14px;text-align:left;font-family:Helvetica,sans-serif;color:#3C4858;background-color:transparent;">I agree to receive your newsletters and accept the data privacy statement.</span>
                    </label>
                  </div>
                </div>
                <label class="entry__error entry__error--primary" style="font-size:16px;text-align:left;font-family:Helvetica,sans-serif;color:#661d1d;background-color:#ffeded;border-radius:3px;border-color:#ff4949;"></label>
                <label class="entry__specification" style="font-size:12px;text-align:left;font-family:Helvetica,sans-serif;color:#8390A4;text-align:left">You may unsubscribe at any time using the link in our newsletter.</label>
              </div>
            </div>
          </div>

          <div style="padding:8px 0;">
            <div class="cf-turnstile" data-sitekey="0x4AAAAAABhnveewR0onanou" data-callback="invisibleCaptchaCallback" data-language="en"></div>
          </div>

          <div style="padding:8px 0;">
            <div class="sib-form__declaration" style="direction:ltr">
              <div style="font-size:14px;text-align:left;font-family:Helvetica,sans-serif;color:#687484;background-color:transparent;">
                <p>We use Brevo as our marketing platform. By submitting this form you agree that the personal data you provided will be transferred to Brevo for processing in accordance with <a href="https://www.brevo.com/en/legal/privacypolicy/">Brevo's Privacy Policy.</a></p>
              </div>
            </div>
          </div>

          <div style="padding:8px 0;">
            <div class="sib-form-block" style="text-align:left">
              <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px;text-align:left;font-weight:700;font-family:Helvetica,sans-serif;color:#fff;background-color:#3E4857;border-radius:3px;border-width:0;" form="sib-form" type="submit">Join now</button>
            </div>
          </div>

          <input type="text" name="email_address_check" value="" class="input--hidden">
          <input type="hidden" name="locale" value="en">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.LOCALE = 'en';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = 'The information provided is invalid. Please review the field format and try again.';
  window.REQUIRED_ERROR_MESSAGE = 'This field cannot be left blank. ';
  window.GENERIC_INVALID_MESSAGE = 'The information provided is invalid. Please review the field format and try again.';
  window.translation = {
    common: {
      selectedList: '{quantity} list selected',
      selectedLists: '{quantity} lists selected',
      selectedOption: '{quantity} selected',
      selectedOptions: '{quantity} selected',
    }
  };
  var AUTOHIDE = Boolean(0);
</script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
<script async defer src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
