{{ define "main" }}

<p>
  Downloading the latest QField package. If this does not work please go to the
  <a href="https://github.com/opengisch/QField/releases/latest">latest release page</a>.
</p>

{{ $js := resources.Get "js/get-latest.js" }}
{{ $js = $js | js.Build (dict "minify" true) }}
{{ $js = $js | fingerprint }}

<script
  src="{{ $js.RelPermalink }}"
  defer
  integrity="{{ $js.Data.Integrity }}"
  crossorigin="anonymous"
  data-api-latest="https://api.github.com/repos/opengisch/QField/releases/latest"
  data-browser-latest="https://github.com/opengisch/QField/releases/latest">
</script>

{{ end }}