<ul id="region-filters" class="nav nav-pills justify-content-center flex-wrap mb-4">
  <li class="nav-item"><a class="nav-link active" href="#" data-region="world">🌍 World</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-region="europe">Europe</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-region="asia">Asia</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-region="north-america">North America</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-region="south-america">South America</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-region="africa">Africa</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-region="oceania">Oceania</a></li>
</ul>
